<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Kenneth Imade's Portfolio{% endblock %}

{% block head %}
    <!-- Additional head content specific to the home page -->
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block header %}
    <!-- Header content specific to the home page, if any -->
{% endblock %}

{% block content %}
    <section class="intro">
        <h1>Kenneth Imade</h1>
        <p>Data Scientist & Engineer</p>
    </section>

    <section class="about">
        <p class="text">
            I am Kenneth Imade; a data scientist and engineer. I explore ways in which data can be used in solving various problems around us.
            I belive that by harnessing data available to us we are able to make decisions which pave the part of a brighter tomorrow.
        </p>
        <a class="button-89 link" href="{% url 'about' %}">About Me</a>
    </section>

    <section class="blog">
        <h1 class="text">Read up on all things Programming, Data Science and Engineering from my blog.</h1>
        <a class="button-54 link" href="{% url 'blog' %}">Blog</a>
    </section>

    <section class="portfolio">
        <h1 class="text">Check out some of my projects.</h1>
        <a class="button-54 link" href="{% url 'portfolio' %}">Portfolio</a>
    </section>

{% endblock %}

{% block footer %}
    <!-- Footer content -->
    {{ block.super }}
{% endblock %}
